<div style="position: relative;
box-sizing: border-box;
height: fit-content;
padding: 5px;
width: 100%;
">
    <div class="simple_label"
        style="height:30px; line-height: 30px; border-radius: 4px; color: #222b45 ; font-family: Cambria, serif;; font-size: 18px;">
        {{label}}
    </div>
    <textarea class="simple_textArea"
        style=" box-sizing: border-box;width: 100%; line-height: 30px; padding-left: 5px; padding-right:  5px; margin: auto;padding-bottom: 20px ; border-radius: 4px;  color:  #222b45; font-family: Cambria, serif; font-size: 14px; background: white;">{{description}}</textarea>
</div>