<div style="background: #EDF1F7; ">
    Show current components UI: <br>
    <!-- <app-slidebar></app-slidebar><br> -->
    <app-toolbar></app-toolbar><br>
    <app-searchbar></app-searchbar> <br>
    <!-- <app-pathbar></app-pathbar><br> -->
    <!-- <app-btnOK></app-btnOK><br> -->
    <app-tableHeadbar></app-tableHeadbar><br>
    <!-- <app-btnDecline></app-btnDecline><br> -->
    <div style="display: flex;">
        <app-labelTextInput></app-labelTextInput>
        <app-labelTextInput></app-labelTextInput>
    </div>
    <div style="display: flex;">
        <app-labelTextInput></app-labelTextInput>
        <app-labelTextInput></app-labelTextInput>
    </div>
</div>