/* You can add global styles to this file, and also import other style files */
.bar_btn:hover {
    background: #006fd6;
}

.bar_btn:hover {
    background: #006fd6;
}

.searchbar_input {
    background: #65b3fc;
    border: none;
}

.searchbar_input:focus {
    background: #006fd6;
    border: none;
}

.simple_input,
.simple_textArea {
    border: 1px solid #c4c4c4;
}

.simple_input,
.simple_textArea:hover {
    border: 1px solid #c4c4c4;
    cursor: text;
}

.simple_input:focus,
.simple_textArea:focus {
    border: 1px solid #3366ff;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    display: flex;
    margin: auto;
    cursor: pointer;
    border-radius: 4px;
    background: #0095ff;
    box-shadow: none;
    border: 1px solid #0095ff;
    color: #fff;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: medium;
}

button:hover {
    background: #006fd6;
    border: white 1px solid;
}
